.todo-form {
  width: 100%;

  article {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    label {
      text-align: center;
      width: 100px;

      small.alert {
        color: crimson;
        font-weight: 600;
      }
    }

    input, textarea {
      flex-grow: 1;
      font-family: 'Gothic A1';
      padding: 10px;
      border: 1px solid silver;
      border-radius: 5px;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    }

    input {
      height: 50px;
    }

    textarea {
      height: 200px;
      resize: none;
    }
  }

  button {
    display: block;
    margin-left: auto;
    padding: 12px;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgb(226, 206, 95);
  }
}