.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;

  &-title {
    font-family: 'Noto Sans KR';
    font-size: 20px;
    cursor: pointer;

    &.todo-completed {
      color: #bbb;
      text-decoration: line-through;
    }

    .date {
      font-size: 15px;
      font-weight: 300;
    }
  }

  &-link {
    background-color: #eee;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  & + & {
    margin-top: 20px;
  }
}