.todo-form-page {
  h2 {
    font-family: 'Noto Sans KR';
    font-size: 28px;
    font-weight: $fontBold - 100;
    padding-bottom: 6px;
    margin-bottom: 12px;
    border-bottom: 1px solid silver;
    display: inline-block;
  }
}