.todo-list-page {
  font-family: 'Noto Sans KR';

  h2 {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 6px;
    margin-bottom: 12px;
    border-bottom: 1px solid silver;
    display: inline-block;
  }
}