.not-found-page {
  text-align: center;

  img {
    width: 256px;
    height: 256px;
  }

  p {
    font-size: 24px;
    font-weight: $fontBold;
    color: crimson;
    padding-bottom: 15px;
  }

  a {
    font-size: 18px;

    @include hover() {
      text-decoration: underline;
    }
  }
}