header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 10px;
  
  h2, a {
    font-family: 'Noto Sans KR';
    padding: 0 10px;
  }

  h2 {
    font-size: 22px;
    font-weight: 500;
  }

  a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
  }
}