.todo-list-item {
  @include alignFlex(_, _, space-between, center);
  
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: $boxShadow;
  padding: 20px;

  &-title {
    font-family: 'Noto Sans KR';
    font-size: 20px;
    cursor: pointer;

    &.todo-completed {
      color: #bbb;
      text-decoration: line-through;
    }

    .date {
      font-size: 15px;
      font-weight: $fontLight;
    }
  }

  &-link {
    background-color: #eee;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  & + & {
    margin-top: 20px;
  }
}