.todo-category {
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px dashed #cdcdcd;

  h4 {
    font-size: 16px;
    padding-right: 8px;
  }

  &-item {
    font-family: 'Gothic A1';
    font-size: 14px;
    padding: 8px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    & + & {
      margin-left: 4px;
    }
  }
}